<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            1 总论
        </strong>
        <br/>
    </h1>
</section>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    本部分为对排版指南以及排版中最基本的规范的说明。
</p>
<h2 style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #00bbaa; padding: 0px; margin: 10px 0px; text-align: left;">
    <strong>1.1 字体和字号</strong>
</h2>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    所有字体一律使用微软雅黑。通常字号为16px，行距为normal（单倍行距），个别地方除外（如参考文献部分字号为12px，后文会详细阐述）。
</p>
<h2 style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #00bbaa; padding: 0px; margin: 10px 0px; text-align: left;">
    <strong>1.2 颜色</strong>
</h2>

<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    我们的微信排版中只会用到三种颜色：
</p>
<p style="font-family:微软雅黑; font-size: 16px; color: #00bbaa;">
    标题与强调部分颜色：#00bbaa，或rgb(0, 187, 170);
</p>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    一般正文颜色：#555555，或rgb(85, 85, 85);
</p><p style="font-family:微软雅黑; font-size: 16px; color: #555555; background-color:#f1f1f1;">
    高亮背景色：#f1f1f1，或rgb(241, 241, 241).
</p>
<h2 style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #00bbaa; padding: 0px; margin: 10px 0px; text-align: left;">
    <strong>1.3 几个可能会用得上的HTML操作——高亮和加粗</strong>
</h2>

<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    请同时参考代码和效果。
</p>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    这句<span style="color:#00bbaa;">话</span>的第三个字是高亮的。
</p>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    这句<strong>话</strong>的第三个字是加粗的。
</p>
<p style="font-family:微软雅黑; font-size: 16px; color: #555555;">
    这句<strong><span style="color:#00bbaa;">话</span></strong>的第三个字是既高亮又加粗的。
</p>