<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            2 引言、作者简介、其他章节类标题
        </strong>
        <br/>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：
</p>
<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; line-height: 2em; color: #555555; padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            引言/摘要/作者简介/其他类型的标题   /*重点：微软雅黑; 字号16px; 2倍行距; 加粗; 颜色#555555; padding: 5px 10px; margin: 10px 0px;*/
        </strong>
        <p style="color: #555555; font-size: 16px; font-weight: normal; line-height: normal; box-sizing: border-box; padding: 0px; margin: 0px;">
            如果有引言内容，在这里添加 /*重点：微软雅黑; 字号16px; 单倍行距; 不要加粗; 颜色#555555; padding: 5px 10px; margin: 10px 0px;*/
        </p>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    示例：
</p>
<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; line-height: 2em; color: #555555; padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            引言
        </strong>
        <p style="color: #555555; font-size: 16px; font-weight: normal; line-height: normal; box-sizing: border-box; padding: 0px; margin: 0px;">
            “我们希望，性别再也不是阻碍女生学习理工科的理由”
        </p>
    </h1>
</section>
<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; line-height: 2em; color: #555555; padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            作者简介
        </strong>
        <p style="color: #555555; font-size: 16px; font-weight: normal; line-height: normal; box-sizing: border-box; padding: 0px; margin: 0px;">
            郑利昕，安徽合肥人，美国宾州费城天普大学（Temple University）物理系博士生。
        </p>
    </h1>
</section>
<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; line-height: 2em; color: #555555; padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            知乎提问：
        </strong>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    注意：引言标题和引言正文左边的绿线效果上应是一条连续的线，不应有间断。正文部分不应加粗。如果出现类似的问题，请检查HTML代码。
</p>