<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            4 作者署名
        </strong>
        <br/>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：
</p>
<br/>
<p style="box-sizing: border-box; padding: 0px; margin: 0px;">
    <span style="line-height: 1.75em; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin-bottom: 20px; text-align: left;">文 / </span>
    <span style="line-height: 1.75em; font-size: 16px; font-family: 微软雅黑; color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px; margin-bottom: 20px; text-align: left;">作者姓名</span>
</p>
<br/>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    注意：微软雅黑; 字号16px; 1.75倍行距; 不要加粗; 上下各空一行（见代码中的"&lt;br/&gt; "）; “/”前后各空一格（为保险起见最好直接在代码中填充作者姓名）。
</p>