<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            5 正文
        </strong>
        <br/>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #555555; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：
</p>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #555555; padding: 0px; margin: 10px 0px; text-align: left;">
    此段为示例。要求：单倍行距; 字号16px; 微软雅黑; 不加粗; 颜色#555555; 段前距10px; 左对齐; 章节之间空一行，段与段之间不空行。
</p>