<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            6 引用
        </strong>
        <br/>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #555555; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：
</p>
<section data-id="23" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor" data-color="#00BBAA" data-custom="#00BBAA">
    <blockquote class="135brush" style="orphans: 2; white-space: normal; widows: 2; font-size: 16px; line-height: normal; margin: 10px 0px; padding: 15px 20px 15px 45px; outline: 0px; border: 0px currentcolor; color: rgb(0, 187, 170); vertical-align: baseline; box-sizing: border-box; background-image: url(http://www.wx135.com/img/bg/left_quote.jpg); background-color: rgb(241, 241, 241); background-position: 1% 5px; background-repeat: no-repeat;">
        <p>
            这段是直接从135上拿下来的，略复杂，建议不太了解HTML的同学直接在代码中修改引用文字部分，其他部分不用动。引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用引用
        </p>
        <p>
            文字末尾不用另加引号。
        </p>
    </blockquote>
</section>