<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            8 文章来源和参考文献
        </strong>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #555555; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：文章来源和参考文献字号较小，为12px，段后距5px，其余与正文相同。参考文献请给出纯文字格式，而非超链接格式。
</p>
<h2 style="line-height: 1.75em; font-size: 16px; font-family: 微软雅黑; color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    <strong>
        文章来源
    </strong>
</h2>
<p style="line-height: normal; font-size: 12px; font-family: 微软雅黑; box-sizing: border-box; padding: 0px; margin: 0px 0px 5px; color: rgb(85, 85, 85);">
    如果是转载的文章，在这里写明出处/链接；如果是原创文章，这个部分可以删除。
</p>
<h2 style="line-height: 1.75em; font-size: 16px; font-family: 微软雅黑; color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px; margin: 10px 0px; text-align: left;">
    <strong>
        参考文献
    </strong>
</h2>
<p style="line-height: normal; font-size: 12px; font-family: 微软雅黑; box-sizing: border-box; padding: 0px; margin: 0px 0px 5px; color: rgb(85, 85, 85);">
    [1] 段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落
</p>
<p style="line-height: normal; font-size: 12px; font-family: 微软雅黑; box-sizing: border-box; padding: 0px; margin: 0px 0px 5px; color: rgb(85, 85, 85);">
    [2] 段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落段落
</p>