<section data-id="1" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 16px; font-family: 微软雅黑;" class="135editor">
    <h1 class="135brush" placeholder="请输入标题" style="border-left-width: 5px; border-left-style: solid; border-left-color: rgb(0, 187, 170); font-size: 16px; font-weight: bold; line-height: 2em; color: rgb(85, 85, 85); padding: 5px 10px; margin: 10px 0px; box-sizing: border-box;">
        <strong>
            9 版权声明及授权二维码
        </strong>
    </h1>
</section>
<p style="line-height: normal; font-size: 16px; font-family: 微软雅黑; color: #555555; padding: 0px; margin: 10px 0px; text-align: left;">
    格式：基本不用修改。如要修改版权声明部分，请直接在HTML代码中修改文字。
</p>
<section style="margin: 0px 0px; padding: 5px 20px 15px 20px; outline: 0px; border: 1px #555555; background-color:#f1f1f1;background-position: 1% 5px; background-repeat: no-repeat; font-family: 微软雅黑;">
    <h1 style="white-space: normal; margin-top: 10px; margin-bottom: 10px; font-size: 16px; line-height: 1.75em; color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px;">
        <strong style="box-sizing: border-box; padding: 0px; margin: 0px;">版权声明</strong>
    </h1>
    <p style="margin-bottom: 5px; line-height: normal; white-space: normal; font-size: 16px; color: rgb(85, 85, 85); box-sizing: border-box; padding: 0px 0px 0px 10px;">
        本文为本站成员原创，版权及其他合法权利均归作者与本站共同所有。任何媒体或网站未经本站授权不得转贴或以其他方式复制发表本文。寻求授权请联系： <span style="color:#00bbaa;">contact@stemgirlschina.com</span>
    </p>
</section>
<p style="margin-top: 5px; margin-bottom: 5px; font-family: sans-serif; font-size: 16px; line-height: normal; white-space: normal; box-sizing: border-box; padding: 0px;">
    <br/>
</p>
<section data-id="3" style="border: 0px none; padding: 0px; box-sizing: border-box; margin: 0px; font-size: 14px; font-family: 微软雅黑;" class="135editor">
    <section style="max-width: 100%; margin: 2px; padding: 0px; box-sizing: border-box;">
        <section style="max-width: 100%; margin-left: 1em; line-height: 1.4em; box-sizing: border-box; padding: 0px;">
            <span style="font-size: 14px; box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="color: rgb(85, 85, 85); line-height: 32px; white-space: pre-wrap; box-sizing: border-box; padding: 0px; margin: 0px;"><span class="135brush" data-brushtype="text" data-mce-style="color: #a5a5a5;" placeholder="关于135编辑器" style="border-radius: 5px; color: rgb(255, 255, 255); padding: 4px 10px; box-sizing: border-box; margin: 0px; background-color: rgb(0, 187, 170);">关于“理工女”</span></strong></span>
        </section>
        <section class="135brush" data-style="color:rgb(89, 89, 89); font-size:14px; line-height:28px" style="font-size: 1em; max-width: 100%; margin-top: -0.7em; padding: 10px 1em; border: 1px solid #555555; border-radius: 0.4em; color: #555555; box-sizing: border-box; background-color: rgb(241, 241, 241);">
            <p style="box-sizing: border-box; padding: 0px; margin: 0px;">
                <span placeholder="提供非常好用的微信文章编辑工具。" style="box-sizing: border-box; padding: 0px; margin: 0px;"></span><span placeholder="提供非常好用的微信文章编辑工具。" style="box-sizing: border-box; padding: 0px; margin: 0px;">我们是<span style="color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px; margin: 0px;"><strong style="box-sizing: border-box; padding: 0px; margin: 0px;">理工女</strong></span>，一个旨在促进女性在理工领域的学业和职业发展的非营利组织，讲述和分享女性在理工领域的求学、科研、职业经历。希望每一个喜欢理工科的女生，都不会因为性别放弃自己的理想。</span> 
            </p>
            <p style="box-sizing: border-box; padding: 0px; margin: 0px;">
                <span placeholder="提供非常好用的微信文章编辑工具。" style="color: rgb(0, 187, 170); box-sizing: border-box; padding: 0px; margin: 0px;">扫描或长按下方二维码，关注“理工女”微信号。</span>
            </p>
            <p style="text-align: center; box-sizing: border-box; padding: 0px; margin: 0px;">
                <img alt="" src="http://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzAwNTUwNzIzMg==" opacity="" title="stemgirls" style="box-sizing: border-box; padding: 0px; margin: 0px;" border="0" height="" vspace="0" width=""/>
            </p>
        </section>
    </section>
</section>